ion-list {
    background: none !important;
}

ion-item {
    --background: none;
    color: #fff;
}

.my-4 { margin: 1.5rem 0; }
.title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    border-bottom: 1px solid #fff;
    padding-bottom: .25rem;
    margin-bottom: 1rem;
}

.warning { 
    color: #FFCE00;
}
