<app-header titulo="Campanhas"></app-header>
<ion-content color="dark">
  <div class="my-4">
    <h4 class="title">{{ product.dsc_produto }}</h4>
    <ion-item>
        <ion-icon slot="start" name="barcode" color="warning"></ion-icon>
        <ion-label>
          <span  class="warning">HOST: </span> {{ product.cod_produto }}
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-icon slot="start" name="pricetag" color="warning"></ion-icon>
        <ion-label>
          <span  class="warning">Departamento: </span><br> {{ product.dsc_departamento }}
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-icon slot="start" name="pricetags" color="warning"></ion-icon>
        <ion-label>
          <span class="warning">Setor: </span> <br> {{ product.dsc_setor }}
        </ion-label>
    </ion-item>
  </div>
  <ion-list>
    <ion-item *ngIf="item.preco_regular">
      <ion-label position="stacked">Preço Regular</ion-label>
      <ion-input [(ngModel)]="item.preco_regular"></ion-input>
    </ion-item>
    <ion-item *ngIf="item.qtd_parcela">
      <ion-label position="stacked">Parcelas</ion-label>
      <ion-input [(ngModel)]="item.qtd_parcela"></ion-input>
    </ion-item>
    <ion-item *ngIf="item.parcela_regular">
      <ion-label position="stacked">Valor das Parcelas</ion-label>
      <ion-input [(ngModel)]="item.parcela_regular"></ion-input>
    </ion-item>
    <ion-item *ngIf="item.preco_clube">
      <ion-label position="stacked">Preço Clube</ion-label>
      <ion-input [(ngModel)]="item.preco_clube"></ion-input>
    </ion-item>
    <ion-item *ngIf="item.qtd_clube">
      <ion-label position="stacked">Parcelas</ion-label>
      <ion-input [(ngModel)]="item.qtd_clube"></ion-input>
    </ion-item>
    <ion-item *ngIf="item.parcela_clube">
      <ion-label position="stacked">Valor das Parcelas</ion-label>
      <ion-input [(ngModel)]="item.parcela_clube"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="update(item)" class="ion-padding" expand="block" color="primary">
    <ion-icon slot="start" name="save"></ion-icon>
    Salvar
  </ion-button>
</ion-content>
