<app-header titulo="Setting"></app-header>
<ion-content color="dark">
  <ion-list class="ion-padding-top">
    <ion-item *ngFor="let c of items$ | async">
      <ion-icon  color="warning" slot="start" name="pricetag"></ion-icon>
      <ion-label text-uppercase>{{ c.block }}</ion-label>
      <ion-toggle color="warning" [(ngModel)]="c.action" (ionChange)="selectChange(c)">
      </ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="ocultar">
    <ion-item *ngFor="let c of [1,1,1,1,1,1,1,1]" detail>
      <ion-skeleton-text slot="start" animated style="width: 25px; padding: 10px;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 45% padding: 5px;"></ion-skeleton-text>
    </ion-item>
  </ion-list>
</ion-content>
