<app-header titulo="Alterar Texto"></app-header>

<ion-content color="dark">
  <ion-list>
    <ion-item-sliding *ngFor="let item of items">
      <ion-item class="ion-margin-bottom">
        <ion-label position="stacked">{{ item.name }}</ion-label>
        <ion-input [(ngModel)]="item.parameters"></ion-input>
      </ion-item>   
      <ion-item-options side="end">
        <ion-item-option (click)="update(item)"  color="warning">
          <ion-icon slot="icon-only" name="create" color="dark"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
