<ion-menu side="start" menuId="main" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item>
          <ion-label>Menu</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
    <!-- <ion-list>    
      <ion-menu-toggle *ngFor="let i of items$ | async">
        <ion-item [routerLink]="i.redirectTo">
          <ion-icon slot="start" [name]="i.icon"></ion-icon>
          <ion-label>{{ i.name }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      </ion-list> -->
  </ion-content>
</ion-menu>