ion-content {
    --background: url(../../../assets/bg-login.jpg) no-repeat center
      center/cover fixed;
  }

ion-list {
    background: none !important;
}

ion-item {
    --background: none;
    color: #fff;
  }

.logo{
    width: 250px;
    margin: 0 auto;
    padding: 20px 0;
}

.margin-init{
  margin-top: 30%;
}
