<ion-content fullscreen>
  <div class="margin-init">
    <ion-img [src]="image" class="logo"></ion-img>
    <form [formGroup]="fmLogin">
      <ion-list class="ion-padding">
        <ion-item>
          <ion-label position="floating">E-Mail</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-button class="ion-margin-top" expand="block" color="danger"
          [disabled]="!fmLogin.valid" (click)="onLogin()">
          <ion-icon slot="start" name="log-in"></ion-icon>
          Acessar
        </ion-button>
      </ion-list>
    </form>
  </div>
</ion-content>
