<ion-header no-border translucent>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="warning"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize" color="warning"> {{ titulo }} </ion-title>
  </ion-toolbar>
</ion-header>