ion-refresher ion-refresher-content {
  background: #222428;
  --color:#FFF!important;
}

ion-list {
  background: none !important;
}

ion-item {
  --background: none;
  color: #fff;
}

ion-skeleton-text {
  --background-rgb: 248,248,248;
}

.skt-circle{
  width: 35px; height: 35px;  border-radius: 50%;
}

.b-06{ font-weight: 600 !important; }
.mt-2{ padding-top: .3rem !important;}
