<app-header titulo="Produtos da Campanha"></app-header>
<ion-content fullscreen color="dark">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content color="dark"
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-searchbar placeholder="Procure o produto por nome ou sku" color="light" (ionChange)="buscar( $event )"></ion-searchbar>
  <ion-list class="animated fadeIn fast">
    <ion-item *ngFor="let item of items | async | filtro: search: 'dsc_produto'" (click)=next(item.id) detail>
      <ion-thumbnail slot="start">
        <ion-img src="https://marketing.condor.com.br/api/Containers/produtos/download/{{ item.image }}.jpg">
        </ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2 class="b-06">{{ item.dsc_produto }}</h2>
        <h3>SKU {{ item.cod_produto }}</h3>
      </ion-label>
    </ion-item>
  </ion-list> 
  <ion-list *ngIf="(items | async ) === null">
    <ion-item *ngFor="let c of [1,1,1,1,1,111,1,1,1,1,1]" detail>
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h2><ion-skeleton-text animated style="width: 85%"></ion-skeleton-text></h2>
        <h3><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
