ion-list {
    background: none !important;
}

ion-item {
    --background: none;
    color: #fff;
}

.my-4 { margin: 1.5rem 0; }
.title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    border-bottom: 1px solid #fff;
    padding-bottom: .25rem;
    margin-bottom: 1rem;
}

.warning { 
    color: #FFCE00;
}

.badges{
    background: #FFCE00;
    border-radius: 5px;
    padding: 3px 15px;
    text-transform: uppercase;
    color: var(--ion-color-dark);
    font-weight: 700;
}

.b-05 { font-weight: 500 !important;}

.imagem {
    background: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 1px 0px rgba(255,206,0,1);
    -moz-box-shadow: 0px 10px 1px 0px rgba(255,206,0,1);
    box-shadow: 0px 10px 1px 0px rgba(255,206,0,1);
}

ion-img {
    height: 210px;
}