<app-header titulo="Produtos"></app-header>
<ion-content color="dark" class="ion-padding">
    <div class="imagem">
        <ion-img 
            src="https://marketing.condor.com.br/api/Containers/produtos/download/{{ item.image }}.jpg">
        </ion-img>
    </div>
    <div class="my-4">
        <h4 class="title">{{ item.dsc_produto }}</h4>
        <ion-item>
            <ion-icon slot="start" name="barcode" color="warning"></ion-icon>
            <ion-label>
                 <span  class="warning">HOST: </span> {{ item.cod_produto }}
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" name="pricetag" color="warning"></ion-icon>
            <ion-label>
                 <span  class="warning">Departamento: </span><br> {{ item.dsc_departamento }}
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" name="pricetags" color="warning"></ion-icon>
            <ion-label>
                <span class="warning">Setor: </span> <br> {{ item.dsc_setor }}
            </ion-label>
        </ion-item>
    </div>
    <div class="ion-padding" *ngFor="let p of preco">
        <p *ngIf = "p.lojas">
            <span class="badges">LOJAS: [ {{ p.lojas }} ]</span>
        </p>
        <ion-item *ngIf="p.preco_regular">
            <ion-label slot="start" class="b-05">Preço Regular:</ion-label>
            <ion-label> {{ p.preco_regular | currency: "R$":"symbol":"1.2-2":"pt" }}</ion-label>
        </ion-item>
        <ion-item *ngIf="p.qtd_parcela">
            <ion-label slot="start" class="b-05">Parcelas:</ion-label>
            <ion-label> {{ p.qtd_parcela }}</ion-label>
        </ion-item>
        <ion-item *ngIf="p.parcela_regular">
            <ion-label slot="start" class="b-05">Valor Parcela:</ion-label>
            <ion-label> {{ p.parcela_regular | currency: "R$":"symbol":"1.2-2":"pt" }}</ion-label>
        </ion-item>
        <ion-item *ngIf="p.preco_clube">
            <ion-label slot="start" class="b-05">Preço Clube:</ion-label>
            <ion-label> {{ p.preco_clube | currency: "R$":"symbol":"1.2-2":"pt" }}</ion-label>
        </ion-item>
        <ion-item *ngIf="p.qtd_clube">
            <ion-label slot="start" class="b-05">Parcelas:</ion-label>
            <ion-label> {{ p.qtd_clube }}</ion-label>
        </ion-item>
        <ion-item *ngIf="p.parcela_clube">
            <ion-label slot="start" class="b-05">Valor Parcela:</ion-label>
            <ion-label> {{ p.parcela_clube | currency: "R$":"symbol":"1.2-2":"pt" }}</ion-label>
        </ion-item>
        <ion-button (click)="next(id, p.id)" expand="block" class="ion-margin-vertical">
            <ion-icon slot="start" name="create"></ion-icon>
            Editar Preços
        </ion-button>
    </div>
</ion-content>
