<ion-app>
  <ion-split-pane when="md" contentId="principal">
    <ion-menu side="start" menuId="primerMenu" contentId="principal">
      <ion-header no-border>
        <ion-toolbar color="dark">
          <ion-title color="warning" text-center>Menú</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content color="dark">
        <ion-list>
          <ion-menu-toggle autoHide="false"  *ngFor="let c of items$ | async">
            <ion-item [routerLink]="c.redirectTo" color="dark">
              <ion-icon  color="warning" slot="start" [name]="c.icon"></ion-icon>
              <ion-label color="warning">{{ c.name }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
              <ion-item (click)="logout()" color="dark">
                <ion-icon  color="warning" slot="start" name="log-out"></ion-icon>
                <ion-label color="warning">Sair Sistema</ion-label>
              </ion-item>
            </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer no-border>
        <ion-toolbar color="warning">
          <ion-title class="f-08 ion-text-center" color="dark">Versão 1.1</ion-title>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="principal"></ion-router-outlet>

  </ion-split-pane>
</ion-app>
