<app-header titulo="Landing Page"></app-header>
<ion-content color="dark">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para atualizar"
      refreshingSpinner="crescent"
      refreshingText="Carregando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list class="ion-padding-top">
    <ion-item *ngFor="let c of items$ | async" (click)="show(c.slug)" detail>
      <ion-icon  color="warning" slot="start" name="today"></ion-icon>
      <ion-label>{{ c.name }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="ocultar" class="ion-padding-top">
    <ion-item *ngFor="let c of [1,1,1,1,1,1,1,1]" detail>
      <ion-skeleton-text slot="start" animated style="width: 25px; padding: 10px;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 45%; padding: 5px;"></ion-skeleton-text>
    </ion-item>
  </ion-list>
</ion-content>
