<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="warning">HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" class="ion-padding-vertical">
  <iframe width="100%" height="1500" src="https://datastudio.google.com/embed/reporting/a1ea4e82-a5be-40ba-8d7e-79935c4b8839/page/rOm4" frameborder="0" style="border:0" allowfullscreen></iframe>
</ion-content>
