<app-header titulo="Campanhas"></app-header>
<ion-content color="dark">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input [(ngModel)]="item.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Slug</ion-label>
      <ion-input [(ngModel)]="item.description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Data Inicio</ion-label>
      <ion-datetime [(ngModel)]="item.vigencia_inicio"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Data Fim</ion-label>
      <ion-datetime [(ngModel)]="item.vigencia_fin"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Status</ion-label>
      <ion-toggle color="primary" [(ngModel)]="item.status"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-button (click)="onSubmit()" class="ion-padding" expand="block" color="primary">
    <ion-icon slot="start" name="save"></ion-icon>
    Salvar
  </ion-button>
</ion-content>
