<app-header titulo="Campanhas"></app-header>
<ion-content fullscreen color="dark">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content color="dark"
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="6" size-lg="4" size-xl="3" *ngFor="let item of items$ | async">
        <div class="contact-area" (click)="presentActionSheet(item.id)">
          <div class="contact">
            <app-progress-dia [start]="item.vigencia_inicio" [end]="item.vigencia_fin"></app-progress-dia>
            <main>
              <section>
                <div class="content">
                  <aside>
                    <h1>{{ item.nome }}</h1>
                    <p>Data inicio {{ item.vigencia_inicio | date: "dd/MM/yyyy":"+0300" }} 
                      e data final {{ item.vigencia_fin | date: "dd/MM/yyyy":"+0300" }}</p>
                  </aside>
                  <button>
                    <span>ID: {{ item.codigo }}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                      <g class="nc-icon-wrapper" fill="#444444">
                        <path d="M14.83 30.83L24 21.66l9.17 9.17L36 28 24 16 12 28z"></path>
                      </g>
                    </svg>
                  </button>
                </div>
                <div class="title"><p> {{ item.codigo }}</p></div>
              </section>
            </main>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="(items$ | async ) === null">
    <ion-item *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1]" detail>
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h2><ion-skeleton-text animated style="width: 85%"></ion-skeleton-text></h2>
        <h3><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
